# Configure the redis_info-collectd-plugin
<LoadPlugin python>
  Globals true
</LoadPlugin>

<Plugin python>
  ModulePath "/usr/lib64/collectd/plugins/"
  Import "pika_plugin"

  <Module pika_plugin>
    Host "192.168.1.1"
    Port 9221
    # Un-comment to use AUTH
    Auth "xxxxxxxxxx"
    #Verbose true
    #Catch Redis metrics (prefix with Redis_)
  </Module>
</Plugin>
